<% if line_item == @current_item %>
	<tr id="current_item">
<% else %>
	<tr>
<% end %>
  <td><%= line_item.quantity -%>&times;</td>
  <td><%= line_item.product.title %></td>
  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
  <!-- <td><%= button_to('Decrement', [:decrement, line_item], remote: true) %></td> -->
  <!-- <td><%= button_to('Decrement', decrement_line_item_path(line_item), remote: true) %></td> -->
  <td><%= button_to('Decrement', relative_quantity_path(line_item, current_qty: line_item.quantity, target_qty: line_item.quantity - 1), remote: true, method: :put) %></td>
</tr>
